{% extends 'echo/base.html' %}
{% block content %}

<section class="songs-section">
    <div class="container">
        <h1 class="mb-3">
            My Uploads
        </h1>
        <p class="text-muted mb-5">
            Songs uploaded by you
        </p>
        <div class="row g-4">
            {% for song in songs %}
            <div class="col-md-4">
                <a href="{% url 'song_detail' song.id %}"
                    class="text-decoration-none text-white">
                    <div class="music-card">
                        <img
                            src="{{ song.cover_image.url }}"
                            class="img-fluid">
                        <div class="p-3">
                            <h4>{{ song.title }}</h4>
                            <p>{{ song.genre }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <h4>No uploads yet 🎵</h4>
                <p class="text-muted">
                    Upload your first track.
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}